header {
    color: red;
    text-align: center;
    font-weight: 900;
    opacity: 0.5;
    letter-spacing: 20px;
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    @include mobile {
            display: none;
    }
    
    h1 {
        font-size: 6rem;
        border: 5px dotted red;
        padding: 10px;
        transform: rotate(-30deg);
        
        @include tablet {
            font-size: 3.6rem;
        }
        @include mobile {
            font-size: 1rem;
    }
        
    }
}