.main-content-container {
    width: 100%;
    height: 100vh;
}

.image {
    width: 5rem;
    height: 5rem;
    pointer-events: none;
    @include tablet {
        width: 3.5rem;
        height: 3.5rem;
    }
}

.button {
    position: absolute;
    transition: 300ms;

    &:hover {
        transform: scale(1.3);
    }

    &:focus, &:active {
        border: 2px solid black;
    }
}

.braeden-button {
    top: 40px;
    right: 110px;
    position: absolute;
}

.wren-button {
    top: 150px;
    right: 150px;

 @include final {
        top: 250px;
    }
}

.rafi-button {
    top: 85px;
    right: 220px;
     @include mobile {
        left: 50px;
        top: 300px;
    }

}
// OTHERS
// strategist alyx
.alyx-button {
    bottom: 30px;
    left: 150px;
}
// jathu
.jathushan-button {
    bottom: 120px;
    left: 70px;
}

// producer 
.devon-button {
    bottom: 40px;
    left: 560px;
    @include tablet {
        left: 300px;
    }
    @include mobile {
        left: 250px;
        bottom: 40px;
    }
}

// designers
.do-button {
    top: 40px;
    left: 140px;
    @include mobile {
        left: 50px;
    }
}

.pj-button {
    top: 268px;
    left: 350px;
    @include mobile {
        left: 280px;
    }
}

// copy
.jacqui-button {
    top: 140px;
    left: 150px;
    @include mobile {
        left: 60px;
    }
}

// marketing sciiii
.lucy-button {
    top: 350px;
    right: 280px;
    @include mobile {
        right: 200px;
    }
}

.kiran-button {
    top: 480px;
    right: 300px;

 @include final {
        right: 150px;
    }
}

//Additional small-screen styles
 @include final {
     .button {
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
     }   
     .braeden-button {
         bottom: 300px;
     }
     .wren-button {
         bottom: 300px;
         left: 75px;
     }
     .rafi-button {
         bottom: 300px;
         left: 150px;
     }
     .alyx-button {
         bottom: 300px;
         left: 225px;
     }
     .devon-button {
         bottom: 100px;
     }
     .do-button {
         bottom: 100px;
         left: 75px;
     }
     .jacqui-button {
         bottom: 100px;
         left: 150px;
     }
     .jathushan-button {
         bottom: 100px;
         left: 225px;
     }
     .lucy-button {
         top: 100px;
         left: 20px;
     }
     .kiran-button {
         top: 100px;
         left: 110px;
     }
     .pj-button {
         top: 100px;
         left: 190px;
     }
    }