.modal-container {
    background: whitesmoke;
    text-align: center;
    height: 95vh;
    width: 50vw;
    margin: 0 auto;
    border: 5px solid grey;
    border-radius: 25px;
    overflow: scroll;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;

    @include tablet {
        width: 90%;
    }

    h1 {
        padding-top: 3%;
        font-weight: 700;
        @include mobile {
            margin-top: 50px;
            font-size: 2rem;
        }
    }
    h2 {
        font-size: 2rem;
        font-weight: 400;
        padding: 0 5%;
        @include mobile {
            font-size: 1.5rem;
        }
    }
}

.bold {
    font-weight: 700;
}

.modal-button {
    background: whitesmoke;
    border: 2px solid transparent;
    position: absolute;
    top: 2%;
    left: 2%;

}

.close {
    font-size: 2rem;
}

.photo {
    width: 250px;
    height: 250px;
    border: 5px solid red;
    margin: 5% auto;
}